/bower_components
/config
/dist
/tests
/tmp
**/.gitkeep
.bowerrc
.editorconfig
.ember-cli
.eslintignore
.eslintrc
.igthub
.gitignore
.jshintrc
.remarkrc
.watchmanconfig
.travis
.travis.yml
bower.json
dependency-snapshot.json
ember-cli-build.js
testem.js
